[flake8]
select = B,B9,C,D,DAR,E,F,N,RST,S,W
ignore = D104,E203,E501,RST201,RST203,RST301,W503,D105,D107,B905
max-line-length = 80
max-complexity = 5
docstring-convention = google
per-file-ignores =
    tests/*:S101,D100,D205,D415,S106,B008,D101
    docs_src/*:D101,D102,D103
    tests/app_test/*:D103,B008
    __init__.py:F401
    typing.py:F401
    *.pyi:E302,E704,D103,N802,D101,D102,E301
    functions.py:N802
    noxfile.py:C901
    openapi.py:D101,D106
rst-roles = class,const,func,meth,mod,ref
rst-directives = deprecated
